article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {  
  display: block;  
}
 
body {
  font-family: "Helvetica","Hiragino Sans GB","Microsoft Yahei", sans-serif;
  max-width: 700px;
}
 
header {
  background-color: #2D9900;
  border: thin #336699 solid;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
 
header h1 {
  margin: 0px;
  color: white;
  font-size: xx-large;
}
 
header h2 {
  margin: 0px;
  font-weight: bold;
}
 
header .Teaser {
  font-size: large;
  font-weight: bold;
}
 
header .Byline {
  font-style: italic;
  font-size: small;
  margin: 0px;
}
 
.Content {
  font-size: medium;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 120%;
}
 
.Content .LeadIn {
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
}
 
.Content h2 {
  color: #24486C;
  margin-bottom: 2px;
  font-size: medium;
}
 
.Content p {
  margin-top: 0px;
}
 
footer {
  text-align: center;
  font-size: x-small;  
}
 
footer .Disclaimer {
  font-style: italic;
}
 
footer p {
  margin: 3px;
}
